/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

/* BODY */

body{
background:#0d0d0d;
color:white;
line-height:1.6;
font-size: 30px;
}

/* HEADER */

header{
background:#111;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
border-bottom:3px solid red;
}

header h1{
color:red;
font-size:25px;
letter-spacing:2px;
}

/* MENU */

nav a{
color:white;
text-decoration:none;
margin-left:25px;
font-weight:bold;
transition:0.3s;
}

nav a:hover{
color:red;
}

/* HERO */

.hero{
height:70vh;
background:url("https://images.unsplash.com/photo-1549719386-74dfcbf7dbed") center/cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h2{
font-size:70px;
background:rgba(0,0,0,0.6);
padding:15px 25px;
border-radius:10px;
}

.hero p{
margin-top:10px;
font-size:45px;
background:rgba(0,0,0,0.5);
padding:10px 20px;
border-radius:8px;
}

/* SECTIONS */

section{
padding:60px 10%;
}

section h2{
color:red;
margin-bottom:30px;
font-size:30px;
}

#luchadores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
}

/* TARJETAS LUCHADORES */

.cards{
display:flex;
gap:30px;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:#1a1a1a;
border-radius:15px;
overflow:hidden;
box-shadow:0 8px 10px rgba(0,0,0,0.6);
transition:0.4s;
}

.card:hover{
transform:translateY(-10px) scale(1.05);
}

.card img{
width:100%;
height:550px;
object-fit:cover;
}

.card h3{
color:red;
padding:10px;
text-decoration: underline;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

.card p{
padding:0 10px 15px 10px;
font-size:25px;
}

/* EVENTOS */

#eventos ul{
list-style:none;
}

#eventos li{
background:#1a1a1a;
margin:10px 0;
padding:15px;
border-left:5px solid red;
}

/* HISTORIA */

#historia {
text-align: justify;
font-size:23px;
}

#historia h2 {
    text-align: center;
}

/* FOOTER */

footer{
background:#111;
text-align:center;
padding:50px;
border-top:3px solid red;
margin-top:40px;
}

/* PAGINA DE INFORMACION*/
.imageninfo {
    height: 20%;
    width: 50%;
}

.maininfo {
    width: 100%;
    display: flex;
}

.maininfo section {
    text-align: center;
}

#footerinfo {
    margin-top: 0;
    padding: 150px;
    border-top:3px solid red;
    margin-top:280px;
}